@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

@mixin float {
	animation: float 2.1s ease infinite;
	animation-delay: var(--delay);
}

.float {
	@include float;
	--delay: 0s;

	&.delay-1 {
		--delay: 0.25s;
	}

	&.delay-2 {
		--delay: 0.5s;
	}

	&.delay-3 {
		--delay: 0.75s;
	}

	&.delay-4 {
		--delay: 1s;
	}
}
