.wp-block-navigation a:hover {
	text-decoration: none !important;
}

footer .wp-block-navigation-item__content::before {
	float: left;
}

h1,
h2,
h3,
.balance-text {
	text-wrap: balance;
	white-space: break-spaces;
}
